<!DOCTYPE html>
<html>
<head>
    <!DOCTYPE html>
    <html>
    <head>
      <meta charset="UTF-8">
      <title>Its all in the dough</title>
      <link rel="stylesheet" href="{% static 'css/styles.css' %}">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
       </script>
    </head>
    <body>
      <nav>
        <ul>
          <li><a href="{% url 'restaurantbookingsystem:table_list' %}">Tables</a></li>
          <li><a href="{% url 'restaurantbookingsystem:booking_list' %}">Bookings</a></li>
          <li><a href="{% url 'restaurantbookingsystem:booking_create' %}">Create Booking</a></li>
          <li><a href="{% url 'restaurantbookingsystem:booking_query' %}">Booking Query</a></li>
        </ul>
      </nav>
    
      <main>
        {% block content %}
        {% endblock %}
      </main>
    </body>
    </html>
    