/* styles.css */

/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the navigation bar */
  nav {
    background-color: #f11a1a;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  
  nav li {
    display: inline;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  nav a:hover {
    background-color: #0aec7f;
  }
  
  /* Style the main content */
  main {
    padding: 20px;
  }
  